*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}
html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}
.page {
  font-family:'Oswald', sans-serif;
  line-height: 1.7;
  color: #222;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
.page__header {
  width: 100%;
  position: relative;
  background-image: url(../img/menacosta_hero1.svgz); 
  background-size: cover;
  height: 0;
  padding-bottom: calc(100% * 750/1356);  
}

.svg__bgd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}
.svg__right {
  position: absolute;
  top:20%;
  right: 0;
  height: 20vw;
}
.svg__left {
  position: absolute;
  top: 45%;
  left: 0;
  height: 15vw;
}
.svg__bubbles {
  position: absolute;
  top: 72%;
  left: 10%;
  height: 10vw;
}
.nav__main {
  padding: 2rem 3rem 0 2rem;
  height: 8vw;
  z-index: 900;
}
.logo__container {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index:1000;
}
.logo {
  height: 9vw;
}
.logo:hover {
  transform: translate(5px, 5px) scale(1.2);
}
.nav__list--right {
  float: right;
}
.nav-list--right {
  content: "";
  display: table;
  clear: both;
}
.nav__item {
  display: inline-block;  
  padding: 1rem 2.4rem;
  margin: 0 1rem;
  font-size: 1.8rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 50px;
  box-shadow: 1px 1px 5px rgb(136, 136, 136);
}
.nav__item:hover {
  box-shadow: 2px 1px 15px #389a9996;
} 
.item__link {
  text-decoration: none;
  color: #888;
}

.page__text {
  width: 60rem;
  padding: 3.5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  backface-visibility: hidden;
}
.page__text--hidden{
  display: hidden;
}
.page__slogan {
  font-family: 'Space Mono', monospace,Verdana, sans-serif;

  font-weight: 900;
  font-size: 8rem;
  color:#7b36d6;
  letter-spacing: -0.1rem; 
  text-shadow: 2px 2px 10px #e2e2e2;
  animation: MoveInLeft 2.5s ease-out;
}

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px)
  }
  80% {
    transform: translateX(10px)
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.page__slogan--right {
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 1.05rem;
  margin-top: 1rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #e2e2e2;
  text-shadow: 2px 2px 5px #777;
  animation: MoveInRight 2.5s ease-out;
}
@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem)
  }
  80% {
    transform: translateX(-1rem)
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.page__slogan--sub {
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 1rem;
  margin-top: 1rem;
  padding-left: 7.8rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #e2e2e2;
  text-shadow: 2px 2px 5px #777;
  animation: MoveInBottom 2.5s ease-out;
}
@keyframes MoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem)
  }
  80% {
    transform: translateY(-1rem)
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.section__space--white {
  height: 0;
  background-color: #e2dfdf;
}

.about__me {
  height: 60rem;
  text-align: center;
}
.section__container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  background-color: transparent;
}
.section__container::after {
  content: "";
  display: table;
  clear: both;
}
.subsection {
  width: 100%;
}
.clear__fix {
  content: "";
  display: table;
  clear: both;
}
.heading__section {
  margin: 2rem;
  padding: 1rem;
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: italic;
  color: transparent;
}
.heading__section:hover::before {
  transform: scale(1.1) skew(-5deg);
}
.heading__section::before {
  content: "Who I am.";
  position: absolute;
  background-image: linear-gradient(270deg,#77d7f1, #276ac9);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
}
.subsection {
  margin-bottom: 5rem;
}
.clear__fix::after {
  content: "";
  display: table;
  clear: both;
}
.one__of__tree--left {
  float: left;
  width: 30%;
  margin-right:4.5%;
}
.one__of__tree--right {
  float: right;
  width: 30%;
  margin-left:4.5%;
}
.two__of__tree--right {
  float: right;
  width: 60%;
  margin-left:4.5%;
  
}
.two__of__tree--left {
  float: left;
  width: 60%;
  margin-right:4.5%;
}
.heading__column {
  margin: 2rem auto;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: italic;
}
.section__image {
  margin-top: 2rem;
  padding: 2.4rem;
  box-shadow: 1px 1px 10px #57a1e2;
  border-radius: 50%;
}

.section__image:hover {
  transform: scale(1.01) translate(2px);
}
.subsection__paragraph {
  margin-top: 2.5rem;
  text-align: justify;
  font-size: 2rem;
  color:#777;
}
.section__space--blue {
  height: 20rem;

  background: 
  url(../img/bubbles.svg) 
  no-repeat center center,
  linear-gradient(270deg,#10c6f8, #276ac9);

}

